/* 

    On veut du style autant que vous le souhaitez (on respecte l'image au plus possible quand meme)
    backgroujnd-color sur le body, le header, la section
    color du texte sur les éléments de la nav, les titres 
    des margin et padding pour agrandir les zones, créer des espacements entre les éléments
    du font-weight, style, size, des polices, etc etc 

*/

body {
      background-color: #f0f0f0;
      margin: 0;
      padding: 20px;
      font-family: 'Roboto', sans-serif;
}

header {
    background-color: #207bf2;
    color:white;
    padding: 10px;
    margin-bottom: 20px;
}


/* POUR LES LIENS DANS NAV */
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

/* HOVER POUR UN EFFET DIFFERENT LORS DU SURVOL SUR LES LIENS DE LA NAV */
nav a:hover {
    text-decoration: underline;
}

/* STYLE PAR DEFAUT POUR LES GRANDS ECRANS, CONTENU CENTRAL à 80% DE LARGEUR */
main {
    margin: 0 auto;
    width: 80%;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

h2, h3, h4, h5, h6 {
    color: #207bf2;
}

.red {
    color: red;
}

fieldset {
    margin: 0;
}

legend {
    font-size: 18px;
    font-weight: bold;
}

details {
    margin-top: 20px;
    border: 2px dashed rgb(39, 38, 38);
}

summary {
    font-weight: bold;
}

footer {
    background-color: #207bf2;
    color: white;
    padding: 10px;
    text-align: center;
}


/* STYLE POUR LES ECRANS INFERIEURS à 780PX, TABLETTES ET INFERIEURS */
@media screen and (max-width: 780px) {
    /* POUR DES ECRANS PLUS PETIT ON PASSERA A 100% DE LARGEUR CE SERA PLUS CONFORTABLE */
    main {
        width: 100%;
    }

    h2, h3, h4, h5, h6 {
    color: red;
}

}
