/* 

    On veut du style autant que vous le souhaitez (on respecte l'image au plus possible quand meme)
    backgroujnd-color sur le body, le header, la section
    color du texte sur les éléments de la nav, les titres 
    des margin et padding pour agrandir les zones, créer des espacements entre les éléments
    du font-weight, style, size, des polices, etc etc 

*/