body {
    margin : 0;
}

main {
    background-color: white;
    padding: 30px;
    width: 1000px;
    margin : 0 auto;
}

span {
    color: red; 
    font-weight: bold;
    font-size: 25px;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 70px;
    letter-spacing: 10px;
}