/* 
1 - Sélectionnez et stylisez tous les paragraphes dans la section principale (<main>) qui ont des parents avec la classe "box". Ajoutez une bordure et une marge à ces paragraphes.
*/

/* 
2 - Sélectionnez et stylisez le paragraphe avec la classe "blue-text" dans une boîte imbriquée (<div> avec la classe "nested-box"). Changez la couleur du texte.
*/

/* 
3 - Sélectionnez et stylisez toutes les images dans les boîtes imbriquées (<div> avec la classe "nested-box"). Ajoutez une bordure arrondie et une ombre à ces images.
*/

/* 
4 - Sélectionnez et stylisez le paragraphe dans une boîte imbriquée (<div> avec l'id "nestedBox3") uniquement s'il est situé à l'intérieur d'un article. Ajoutez une couleur de fond. 
*/

/* 
5 - Sélectionnez et stylisez le premier paragraphe dans la section 1 (<section> avec l'id "section1") avec la classe "box". Ajoutez une bordure et une marge à ce paragraphe. 
*/

/* 
6 - Sélectionnez et stylisez le dernier paragraphe dans la section 2 (<div> avec l'id "section2") avec la classe "box". Changez la couleur du texte et ajoutez une ombre. 
*/